# Ignore Play! working directory #
bin/
/db
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
/dist/
/out
/RUNNING_PID
.cache
.history
.eclipse
/.idea
/.idea_modules
/.classpath
/.project
/.settings
*.eml
*.iml
